[submodule "Unparalleled-Text-Summarization-using-GAN"]
	path = Unparalleled-Text-Summarization-using-GAN
	url = git@github.com:alexs95/Unparalleled-Text-Summarization-using-GAN.git
	branch = master

[submodule "pointer-generator"]
	path = pointer-generator
	# url = git@github.com:alexs95/pointer-generator.git
	url = https://github.com/alexs95/pointer-generator
	branch = master

[submodule "factCC"]
	path = factCC
	# url = git@github.com:alexs95/factCC.git
	url = https://github.com/alexs95/factCC.git
	branch = master

[submodule "text-summarization"]
	path = text-summarization
	url = https://github.com/alexs95/text-summarization.git
    branch = master
